/* 
.el-loading-spinner {
  background-image:url('../assets/loading_images/loading.gif');   // 这个是自己想设置的 gif 加载动图
  background-repeat: no-repeat; //设置背景 图 不重复
  height:100%;
  background-position:center;  //设置背景 定位  为居中
  top:0;  //覆盖 element-ui  默认的 50%    因为此处设置了height:100%,所以不设置的话，会只显示一半，因为被top顶下去了
}
.el-loading-spinner .circular {
  display: none;  //隐藏 之前  element-ui  默认的 loading 动画
} */
.loadingIndex{
	z-index:200000!important;
}

.myLoading {
  position:absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid transparent 10px;
  border-top: solid #fff 10px;
  border-left: solid #fff 10px;
  animation: loader3Animation 2s linear infinite!important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.myLoading:before {
  position: absolute;
  top: 20px;
  left: 20px;
  content: "";
  width: 40px;
  height: 40px;
  border: solid transparent 10px;
  border-top: solid #fff 10px;
  border-left: solid #fff 10px;
  border-radius: 50%;
  animation: loader3AnimationBefore 1.5s linear infinite;
}
.myLoading:after {
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  width: 70px;
  height: 70px;
  border: solid transparent 10px;
  border-top: solid #fff 10px;
  border-left: solid #fff 10px;
  border-radius: 50%;
  animation: loader3AnimationAfter 1.5s linear infinite;
}
@keyframes loader3Animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader3AnimationBefore {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader3AnimationAfter {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}