.marginTop5{margin-top: 5px;}
.marginTop10{margin-top: 10px}
.marginTop16{margin-top: 16px!important}
.marginLeft0{margin-left: 0!important}
.marginLeft10{margin-left: 10px;}
.marginLeft20{margin-left: 20px;}
.marginLeft30{margin-left: 30px;}
.marginLeft40{margin-left: 40px;}
.paddingLeft10{padding-left: 10px;}
.paddingLeft20{padding-left: 20px;}
.paddingLeft30{padding-left: 30px;}
.paddingLeft40{padding-left: 40px;}
.marginRight5{margin-right: 5px;}
.marginRight10{margin-right: 10px!important;}
.marginRight30{margin-right: 30px;}
.marginRight76{margin-right: 76px;}
.marginBot10{margin-bottom: 10px;}
.marginAuto0{margin: auto 0;}
.marginAuto5{margin: auto 5px;}
.margin20_0{margin: 20px 0;}
.margin0_10{margin: 0 10px;}
.margin10_10{margin: 0 10px 15px 10px;};
.margin0_lb16{margin: 0 0 16px 16px;}
.textCenter input{
	text-align: center!important;
}
.colorA9{
	color: #A9A9A9!important;;
}